@import '../base/variables';
@import '../base/mixins';


body.page {
  @include theme($matrice-blue, $matrice-orange, $matrice-white);

  &.philosophie,
  &.processus,
  &.index,
  &.matrice_et_vous {
    @include theme($matrice-blue, $matrice-green, $matrice-white);
  }

  &.en_action_autisme,
  &.en_action_cpa,
  &.en_action_art,
  &.en_action_si {
    @include theme($matrice-blue, $matrice-blue, $matrice-white, $matrice-green);
  }

  &.index .top-nav-container {
    background: transparentize($matrice-blue, .7);
  }
}

.matrice-contacts {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  max-width: 960px;
  margin: 0 auto;

  &.is-founders,
  &.is-bureau {
    .matrice-contact {
      flex: 0 1 200px;
      font-size: 1em;

      img {
        max-height: 120px;
      }

    }
  }

}



.is-founders.columns:not(:last-child),
.is-bureau.columns:not(:last-child) {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 0;
}

.title.capitalized {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  padding: 1em 0;
}

.is-founders {
  background-color: #D8D8D8;
}

.is-bureau {
  background-color: #FF9E86;
}

.matrice-contact {
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  align-content: space-around;
  margin: 0 auto;
  padding: 20px 0px;

  img {
    margin: 0 30px;
    max-width: inherit;
    max-height: 150px;
  }

  h3.title {
    margin: 0;
    padding-top: 20px;
  }

  h4.title {
    margin: 0;
  }

  .title {
    padding: 5px;
  }

  a {
    color: $matrice-blue;
  }
}

.centered-flex {

  // @media(min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-around;

    & > div {
      flex: 1 1;
      display: flex;
      align-items: center;
    }
  // }

  // @media(max-width: $tablet) {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // align-content: space-around;
    //
    // & > div {
    //   flex: 1 1;
    //   display: flex;
    //   align-items: center;
    //   padding: .5em;
    // }
  // }
}

.matrice_et_vous .simple-square {
  .squared {
    padding: 4em;
    max-width: 500px;
    margin: auto;

    header h2 {
      top: -2.9em;
      max-width: 80%;
    }
  }
}

.page {

  .column.content {
    padding: 1em;
  }

  .title.is-centered {
    text-align: center;
  }

  .big-quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-size: 1.4em;
    text-align: left;
    padding: 0;

    quote {
      max-width: $restricted-width * 1.2;
      margin: auto;
      padding: 1em 1em 1em 3em;
    }

    &:only-child {

      @media(min-width: $tablet) {
        quote {
          max-width: 80%;
        }
      }
      @media(max-width: $tablet) {
        quote {
          max-width: 100%;
          padding: 1em;
        }
      }
    }
  }

  .column + .column.reversed.big-quote quote {
    margin: 0;
    padding: 2em 1em 2em 3em;
  }

  section.unmarged {
    padding: 0;
  }

  .page-section {
    text-align: center;
    height: $banner-height;
    margin-top: $menu-height;
    margin-bottom: 3em;


    h1 {
      font-family: $family-heading;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      bottom: - ($banner-height / 2);
    }

    @media(max-width: $tablet) {
      height: $banner-height * (2/3);
      margin-bottom: 1em;

      h1 {
        bottom: -50px;
      }
    }
  }

  .content.unmarged {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media(max-width: $tablet) {

    .minibox-header {
      // padding-left: 5em;
    }

    .minibox {
      padding: .5em 0;

      h3 {
        margin: 0;
        padding: 1em 0 .5em;
        font-size: 1.2rem;
      }
    }
  }

  @media(min-width: $tablet) {

    // Hopla
    .is-absolute {
      position: absolute;
      margin-top: 30px;
    }

    .absolute-offset {
      margin-top: 100px;
    }

    .minibox-header {
      padding-left: 5em;
    }

    .minibox {
      padding: 1.5em 5em;

      h3 {
        margin: 0;
        padding: 0;
      }
    }


    .restricted {
      max-width: $restricted-width;
      margin: 0 auto;
    }

    .double.restricted {
      max-width: $restricted-width * 2;
    }

  }

  .section {
    .reversed {
      background-color: transparentize($matrice-orange, .25);
      color: $matrice-white;
      z-index: 30;
    }
  }

  // The homepage
  &.index {
    .top-nav-containera {
      // background-color: rgba(0, 0, 0, 0.1);
      background-color: transparentize($matrice-blue, .5);
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 20;

      .nav {
        background-color: transparent;
        color: $matrice-white;

        a {
          color: $matrice-white;

          &:hover {
            color: $matrice-green;
          }
        }

        a.button.matrice-top-button {
          border: 3px solid $matrice-green;
        }
      }


      @media(max-width: $tablet) {
        .nav {
          background-color: $matrice-blue;
          color: $matrice-white;

          a {
            color: $matrice-white;

            &:hover {
              color: $matrice-green;
            }
          }
        }
      }

    }


    .hero {
      background-color: $matrice-blue;
      // background-image: linear-gradient(270deg, $matrice-green 0%, $matrice-blue 100%);
      background-image: linear-gradient(226.08deg, $matrice-green 0%, #1F9A7D 11.12%, #1B575D 55.27%, $matrice-blue 100%);
      position: relative;

      .matrice-logo {
        img {
          max-height: 50vh;
        }
      }
    }
  }

  $en-action-height: 300px;

  .is-matrice-en-action {
    max-height: $en-action-height;

    img {
      width: auto;
      max-height: $en-action-height;
      margin: auto;
    }
  }

  .page-matrice-section {
    margin: 0;
  }

  .restricted {
    padding: 0em 0em;
  }

  .unmarged .restricted {
    padding: 0em 1em;
  }


  @media(max-width: $tablet) {
    .section {
      padding: 1.5rem;
    }
  }
}
