@import '../base/variables';
@import '../base/mixins';


body.page {
  @include theme($matrice-blue, $matrice-orange, $matrice-white);

  &.philosophie,
  &.processus,
  &.matrice_et_vous {
    @include theme($matrice-blue, $matrice-green, $matrice-white);
  }

  &.en_action_autisme,
  &.en_action_cpa,
  &.en_action_art,
  &.en_action_si {
    @include theme($matrice-blue, $matrice-blue, $matrice-white, $matrice-green);
  }
}

.matrice_et_vous .simple-square {
  .squared {
    padding: 4em;
    max-width: 500px;
    margin: auto;

    header h2 {
      top: -2.9em;
      max-width: 80%;
    }
  }
}

.page {

  .column.content {
    padding: 1em;
  }

  .title.is-centered {
    text-align: center;
  }

  .big-quote {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-size: 1.4em;
    text-align: left;
    padding: 0;

    quote {
      max-width: $restricted-width * 1.2;
      margin: auto;
      padding: 1em 1em 1em 3em;
    }

    &:only-child {

      @media(min-width: $tablet) {
        quote {
          max-width: 80%;
        }
      }
      @media(max-width: $tablet) {
        quote {
          max-width: 100%;
          padding: 1em;
        }
      }
    }
  }

  .column + .column.reversed.big-quote quote {
    margin: 0;
    padding: 2em 1em 2em 3em;
  }

  section.unmarged {
    padding: 0;
  }

  .page-section {
    text-align: center;
    height: $banner-height;
    margin-bottom: 3em;

    h1 {
      font-family: $family-heading;
      font-weight: 700;
      text-transform: uppercase;
      position: relative;
      bottom: - ($banner-height / 2);
    }
  }

  .content.unmarged {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  @media(min-width: $tablet) {

    // Hopla
    .is-absolute {
      position: absolute;
      margin-top: 30px;
    }

    .absolute-offset {
      margin-top: 100px;
    }

    .minibox-header {
      padding-left: 5em;
    }

    .minibox {
      padding: 1.5em 5em;

      h3 {
        margin: 0;
        padding: 0;
      }
    }


    .restricted {
      max-width: $restricted-width;
      margin: 0 auto;
    }

    .double.restricted {
      max-width: $restricted-width * 2;
    }

  }

  .section {
    .reversed {
      background-color: transparentize($matrice-orange, .25);
      color: $matrice-white;
      z-index: 30;
    }
  }

  // The homepage
  &.index {
    .top-nav-container {
      // background-color: rgba(0, 0, 0, 0.1);
      background-color: transparentize($matrice-blue, .5);
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      z-index: 20;

      .nav {
        background-color: transparent;
        color: $matrice-white;

        a {
          color: $matrice-white;

          &:hover {
            color: $matrice-green;
          }
        }

        a.button.matrice-top-button {
          border: 3px solid $matrice-green;
        }
      }
    }


    .hero {
      background-color: $matrice-blue;
      // background-image: linear-gradient(270deg, $matrice-green 0%, $matrice-blue 100%);
      background-image: linear-gradient(226.08deg, $matrice-green 0%, #1F9A7D 11.12%, #1B575D 55.27%, $matrice-blue 100%);
      position: relative;

      .matrice-logo {
        img {
          max-height: 50vh;
        }
      }
    }
  }

  $en-action-height: 300px;

  .is-matrice-en-action {
    max-height: $en-action-height;

    img {
      width: auto;
      max-height: $en-action-height;
      margin: auto;
    }
  }

  .page-matrice-section {
    margin: 0;
  }

  .restricted {
    padding: 0em 0em;
  }

  .unmarged .restricted {
    padding: 0em 1em;
  }

}
