
@mixin theme($bg, $fg, $text: '#fff', $bgtext: $fg) {
  color: $bg;

  .content,
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .title,
  .content p {
    color: $bg;
  }

  .footer {
    background-color: rgba(0, 0, 0, .05);

    p,
    .content p,
    b,
    strong {
      color: transparentize($bg, .4);
    }
  }

  .button.is-primary {
    background-color: $fg;
    color: $bg;
    font-size: .9em;
    font-weight: bold;
  }

  .top-nav-container {
    background-color: $bg;

    .nav {
      background-color: transparent;
      color: $text;

      a {
        color: $text;

        &:hover {
          color: $bgtext;
        }
      }

      .nav-item {
        ul {
          border-top: 3px solid $bgtext;
        }
      }

      a.button.matrice-top-button {
        background: transparent;
        border: 3px solid $fg;
      }

    }
  }

  .page-section {
    background-color: $fg;
  }

  @media(min-width: $tablet) {

    .square-container,
    .simple-square {
      .squared {
        border: 5px solid $fg;
      }
    }
  }


  .section {
    .reversed {
      background-color: transparentize($fg, .25);
      color: $text;

      &.is-opaque {
        background-color: $fg;
      }
    }

    .square-row .reversed {
      background-color: $fg;
    }
  }
}
