
$family-primary: 'Source Sans Pro', sans-serif;
$family-heading: 'Asap', sans-serif;

$size-1: 3rem;
$size-2: 2.5rem;
$size-3: 1.7rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$tablet: 769px;
$desktop: 1000px;
$widescreen: 1192px;
// -------- color themes ----------

$matrice-blue: #0C3644;
$matrice-orange: #FF8668;
$matrice-white: #FFFFFF;
$matrice-green: #23E29F;

$primary: $matrice-green;

$text: $matrice-blue;
$body-background: $matrice-white;
$background: $matrice-white;

// -------- Matrice specific ---------

$banner-height: 150px;
$menu-height: 75px;
$restricted-width: 450px;
