
$family-primary: 'Source Sans Pro', sans-serif;
$family-heading: 'Asap', sans-serif;


// -------- color themes ----------

$matrice-blue: #0C3644;
$matrice-orange: #FF8668;
$matrice-white: #FFFFFF;
$matrice-green: #23E29F;

$primary: $matrice-green;

$text: $matrice-blue;
$body-background: $matrice-white;
$background: $matrice-white;
