
@import '../base/variables';

.top-nav-container {
  padding: .75em 0;
  font-family: $family-heading;

  a {
    font-family: $family-heading;
    font-weight: 700;
  }

  .nav {

    a {
      font-size: .9em;
      padding: 0 1em;

      &:hover {
      }

      img {
        height: 300px;
      }
    }

    a.button.matrice-top-button {
      border-radius: 30px;
    }

    .social-menu-link {
      padding: 0 5px;
    }
  }
}
