@import '../base/variables';


@media(max-width: $tablet) {
  .squared {
    padding: 1em;
  }
}


@media(min-width: $tablet) {


  .simple-square {
    position: relative;
    z-index: 20;

    .squared {
      border-radius: 5px;
      position: relative;
      padding: 1em;

      header {
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        text-align: center;

        h2 {
          position: relative;
          top: -1.3em;
          padding: 0 1em;
          display: inline-block;
          font-weight: 300;
          background: $matrice-white;
        }
      }

      &.is-large {
        padding: 5em;

        header h2 {
          top: -3.5em;
        }
      }
    }
  }

  .custom-square {
    position: relative;

    .squared {
      position: relative;
      top: -8em;
      right: 0em;
    }

  }

  .square-container {
    position: relative;
    z-index: 20;
    margin-bottom: 5em;

    .squared {
      // border: 5px solid $matrice-orange;
      border-radius: 5px;
      position: relative;
      padding: 1em;
      left: 4em;
      top: -6em;

      h2 {
        position: relative;
        left: -3em;
        margin-right: 1em;
        font-weight: 100;
        padding: 1em;
        line-height: 1.5em;
        background-color: $matrice-white;
        display: inline-block;
      }
      ul {
        padding: 0 3em;
        position: relative;
        top: -2em;
      }
    }
    & + .column.content.bottom {
      align-self: flex-end;
      padding: 0;
      position: relative;
      z-index: 10;
      bottom: -7em;
      padding-bottom: 7em;
    }
  }

  .square-row {
    position: relative;
    margin-bottom: 50px;

    .column.up-square {
      align-self: flex-start;
    }

    .column.square-container {
      .squared {
        position: relative;
        right: 7em;
        top: 5em;
        left: inherit;
        padding: 6em 8em;
      }
    }
  }
}


@media(min-width: $widescreen) {

    .simple-square.custom-square {
      position: relative;

      .squared {
        position: relative;
        top: -8em;
        right: -2em;
      }

    }
}
@media(min-width: 1600px) {

    .simple-square.custom-square {
      position: relative;

      .squared {
        position: relative;
        top: -8em;
        right: -3em;
      }

    }
}
