@import '../base/variables';

.timeline {
  .column.is-half:empty {
    padding: 0;
  }
}

@media(min-width: $tablet) {
  .timeline {
    $timeline-dot: 13px;
    max-width: $restricted-width * 2;
    padding: 1em 0 4em;

    h2 {
      padding: 1em 0 2em;
    }

    .column.is-half {
      padding: 0rem 2rem;

      &:first-of-type {
        border-right: 3px solid #ddd;
        text-align: right;

        &.last {
          border-right: 0px;
        }
      }

      &:not(:empty) {

        p {
          b {
            top: -5px;
            position: relative;
          }
        }

        &:before {
          content: "";
          display: inline-block;
          height: $timeline-dot;
          width: $timeline-dot;
          position: absolute;
          background-color: $matrice-orange;
          border-radius: $timeline-dot;
          top: 0px;
        }

        &:first-of-type {
          position: relative;

          &:before {
            right: -8px;
          }
        }

        &:last-of-type {
          position: relative;

          &:before {
            left: -8px;
          }
        }
      }
    }
  }
}
